@page "/"
@using System.Text;
@using Bracketeer.Components;

<MudGrid Class="mt-8" id="main-grid">
    <MudItem xs="12" sm="6" md="6" id="input-item">
        <MudCard Elevation="25" id="input-card" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Input</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudTextField T="string" Label="Paste Parenthesis Experssion Here" Immediate="true" DebounceInterval="500" Variant="Variant.Outlined" @bind-Value="@InText" Lines="20" />
                    </div>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudSwitch Label="Color" @bind-Checked="@DoColor" Color="Color.Success" UnCheckedColor="Color.Error" />
                <MudSwitch Label="Indent" @bind-Checked="@DoIndent" Color="Color.Success" UnCheckedColor="Color.Error" />
                </MudCardActions>
            </MudCard>
        </MudItem>
    <MudItem xs="12" sm="6" md="6" id="output-item">
            <MudCard Elevation="25" id="output-card" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Output</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent id="tree-card-content">
                       @if (DoIndent)
                        {
                            <MudTreeView Items="@TreeItems" id="out-tree" ExpandOnClick="true" Dense="true">
                                <ItemTemplate>
                                        <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.TreeItems">
                                            <Content>
                                                <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                                                <MudText Class=@getClass(context.Level)>@context.Text</MudText>
                                            </Content>
                                        </MudTreeViewItem>
                                    </ItemTemplate>
                            </MudTreeView>
                        }
                        else
                        {
                            <div style="width:100%">
                                @foreach(var span in spans)
                                {
                                    <ColoredText Class="@span.Item2" Text="@span.Item1" />
                                }
                                </div>
                        }
                </MudCardContent>
            </MudCard>
    </MudItem>
</MudGrid>
